@charset 'UTF-8';
/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*

    0.  Includes
    1.  General
    3.  Main
    
 */
 
 

/* ==========================================================================
   0. Includes - Ground zero
   ========================================================================== */
   
@import url(normalize.css);


/* ==========================================================================
   1. General - Setting up some base styles
   ========================================================================== */

html {
	height: 100%;
	max-height: 100%;
    font-size: 62.5%;
	font-family: sans-serif;
}

body {
    height: 100%;
    max-height: 100%;
    font-family: serif;
    font-size: 1.8rem;
    line-height: 1.6em;
	background-color: #394046;
	color: #9c9fa2;
	font-family: 'Roboto Slab', serif;
}


::-moz-selection {
    color: #222;
    background: #D6EDFF;
    text-shadow: none;
}

::selection {
    color: #222;
    background: #D6EDFF;
    text-shadow: none;
}



h1, h2, h3,
h4, h5, h6 {
    text-rendering: optimizeLegibility;
    line-height: 1;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 5rem;
    line-height: 1.2em;
    letter-spacing: -2px;
    text-indent: -3px;
}

h2 {
    font-size: 4rem;
    line-height: 1.2em;
    letter-spacing: -1px;
    text-indent: -2px;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.75rem;
}

h5 {
    font-size: 2.5rem;
}

h6 {
    font-size: 2rem;
}

a {
    color: #4a4a4a;
    transition: color ease 0.3s;
}

a:hover {
    color: #57A3E8;
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
    color: #50585D;
}


p, ul, ol, dl {
    margin: 1.6em 0;
}

ol ol, ul ul,
ul ol, ol ul {
    margin: 0.4em 0;
}


/* ==========================================================================
   3. Main rules for the theme
   ========================================================================== */

header#site-header {
	background-color: #fff;
	padding: 20px;
	width: 100%;
	position: fixed;
	top: 0;
}

.is-sticky {
	box-shadow: 0 0 3px 0 #acacac;
}

header#site-header h1, header#site-header p {
	margin: 0;
}


footer#site-footer {
	padding: 20px;
	font-size: 1.25rem;
}

footer#site-footer p {
	margin: 0;
}

footer#site-footer a {
	color: #9c9fa2;
}

footer#site-footer a:hover, footer#site-footer a:focus {
	color: #fff;
}

main {
	background-color: #fff;
    color: #3A4145;
	padding: 40px;
	margin-top: 110px;
}

article.post header h2 {
	margin: 0;
}

article.post div.post-meta {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25rem;
	color: #9EABB3;
}

article.post div.post-meta p {
	margin: 0;
}

article.post div.post-body {
	padding: 0 10px;
}
