<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

	  <li class="sidebar-nav-item sidebar-social">
	    <a class="fa fa-twitter" href="https://twitter.com/jfbourke"><span>twitter</span></a>
		<a class="fa fa-linkedin" href="https://www.linkedin.com/in/jfbourke"><span>linkedin</span></a>
		<a class="fa fa-github" href="https://github.com/jfbourke"><span>github</span></a>
		<a class="fa fa-stack-overflow" href="http://stackoverflow.com/users/209136/jonathan"><span>stackoverflow</span></a>
	  </li>
    </ul>
  </div>
</div>
