{% include head.html %}

<body>
	
	<header id="site-header">
		<h1><a href="{{ site.url }}">Bourke</a></h1>
		<p>
			<a class="fa fa-twitter" href="https://twitter.com/jfbourke"><span>twitter</span></a> | 
			<a class="fa fa-linkedin" href="https://www.linkedin.com/in/jfbourke"><span>linkedin</span></a> | 
			<a class="fa fa-github" href="https://github.com/jfbourke"><span>github</span></a> |
			<a class="fa fa-stackoverflow" href="http://stackoverflow.com/users/209136/jonathan"><span>stackoverflow</span></a>
		</p>
	</header>
	
<main id="content" role="main">
{{ content }}
{% include pager.html %}
</main>

{% include foot.html %}
</body>
</html>
