{% include head.html %}

<body>
	
	<header id="site-header">
		<h1><a href="{{ site.url }}">Bourke</a></h1>
		<p>
			<a class="fa-twitter" href="https://twitter.com/jfbourke"><span>twitter</span></a> | 
			<a href="https://www.linkedin.com/in/jfbourke">linkedin</a> | 
			<a href="https://github.com/jfbourke">github</a> |
			<a href="http://stackoverflow.com/users/209136/jonathan">Stack Overflow</a>
		</p>
	</header>
	
<main id="content" role="main">
{{ content }}
{% include pager.html %}
</main>

{% include foot.html %}
</body>
</html>
